<div class="sidebar__edition"><span><i><mat-icon>change_history</mat-icon></i><b>Angular Academy<small>Formação completa</small></b></span><em>v20</em></div>

<div class="sidebar__progress">
  <div><span>Progresso</span><strong>{{ overallProgress() }}%</strong></div>
  <div class="sidebar__progress-track"><i [style.width.%]="overallProgress()"></i></div>
  <small>{{ completedModules().length }}/{{ totalModules }} módulos</small>
</div>

@for (group of navGroups; track group.label) {
  <div class="sidebar__label">{{ group.label }}</div>
  <mat-nav-list class="sidebar__nav">
    @for (item of group.items; track item.path) {
      <a mat-list-item [routerLink]="item.path" routerLinkActive #rla="routerLinkActive" [activated]="rla.isActive" (click)="linkClick.emit()">
        <span class="sidebar__link-content">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
          @if (item.badge) { <span class="sidebar__badge">{{ item.badge() }}</span> }
        </span>
      </a>
    }
  </mat-nav-list>
}

<div class="sidebar__footer"><span><i></i> Dados sincronizados</span><small>Local</small></div>
